@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Noto+Serif+SC:wght@200..900&family=Ma+Shan+Zheng&display=swap');
@import "tailwindcss";

@theme {
  --font-serif-en: "Playfair Display", serif;
  --font-serif-zh: "Noto Serif SC", serif;
  --font-calligraphy: "Ma Shan Zheng", cursive;
}

body {
  @apply bg-[#e11d48] min-h-screen flex items-center justify-center p-0 m-0 overflow-hidden;
}

.pattern-container {
  clip-path: polygon(8% 0, 92% 0, 100% 12%, 100% 88%, 92% 100%, 8% 100%, 0 88%, 0 12%);
}
